@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@500&family=PT+Sans+Narrow:wght@700&family=Playfair+Display:ital,wght@0,700;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: "Playfair Display", "Apple SD Gothic Neo" Sans-serif;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

:root {
  --outer-margin: 4rem;
}
